In [2]:
import glob
import os
import pandas as pd
import matplotlib.pyplot as plt

import csv
import numpy as np


from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

import os

import scores
from sklearn.externals import joblib
import pickle

## Loading the Validation Data

In [3]:
path_f=os.getcwd()

path_f_1=os.path.join(path_f, 'data')


names=[]
for files_txts in os.listdir(path_f_1):
    if files_txts.endswith(".csv"):
        #print(files_txts)
        names.append(files_txts)
        
path_train=os.path.join(path_f_1, names[0])
path_test=os.path.join(path_f_1, names[1])

df_test=pd.read_csv(path_test)
df_train=pd.read_csv(path_train)

df_test['formulaA']=df_test['formulaA_elements_Number']
df_test['formulaB']=df_test['formulaB_elements_Number']

feature_cols=list(df_test)
print(df_test.shape)
df_test_names=pd.read_csv(path_test)
df_test.head()

(749, 110)

,Unnamed: 0,formulaA,formulaB,formulaA_elements_AtomicVolume,formulaB_elements_AtomicVolume,formulaA_elements_AtomicWeight,formulaB_elements_AtomicWeight,formulaA_elements_BoilingT,formulaB_elements_BoilingT,formulaA_elements_BulkModulus,...,A91B,A82B,A73B,A64B,A55B,A46B,A37B,A28B,A19B,B
0,0,89,4,37.433086,8.098176,227.0,9.012182,3473.0,2743.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,89,48,37.433086,21.580025,227.0,112.411000,3473.0,1040.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,89,55,37.433086,117.456016,227.0,132.905452,3473.0,944.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,89,67,37.433086,31.140380,227.0,164.930320,3473.0,2973.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,89,19,37.433086,75.847865,227.0,39.098300,3473.0,1032.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
## Normalization the test Data

## Using Un-normalized data as input
X_test=df_test[feature_cols]

print(X_test.shape)

## Normalizing by Zscore
from scipy.stats import zscore
X_test_Z_score=X_test.apply(zscore)
print(X_test_Z_score.shape)

(749, 110)
(749, 110)

/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:2248: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

## Loading the best Performing Models

In [5]:
models = sorted(glob.glob("*.sav"))
print(models)
features_f = sorted(glob.glob("*.var"))
print(features_f)

['Best_model_at_least_one_element.sav', 'Best_model_component_1.sav', 'Best_model_component_2.sav', 'Best_model_component_3.sav', 'Best_model_component_4.sav', 'Best_model_component_5.sav', 'Best_model_component_6.sav', 'Best_model_component_7.sav', 'Best_model_component_8.sav', 'Best_model_component_9.sav']
['var_list_stable.var', 'var_list_stable_comp_1.var', 'var_list_stable_comp_2.var', 'var_list_stable_comp_3.var', 'var_list_stable_comp_4.var', 'var_list_stable_comp_5.var', 'var_list_stable_comp_6.var', 'var_list_stable_comp_7.var', 'var_list_stable_comp_8.var', 'var_list_stable_comp_9.var']

### Determine which of the Element Pairs in the Test Set will produce at least ONE Stable Compound

In [6]:
loaded_model = joblib.load(models[0])

with open(features_f[0], 'rb') as f:
    corr_variables = pickle.load(f)
Y_test=loaded_model.predict(X_test_Z_score[corr_variables])

In [7]:
##Analyzing Model Results
stable_comp=df_test_names.loc[Y_test==1,['formulaA','formulaB']] 
stable_comp_num=stable_comp.values
stable_A=np.unique(stable_comp_num[:,0])
stable_B=np.unique(stable_comp_num[:,1])

uq_elements_pair=np.unique(df_test_names[['formulaA','formulaB']].values)
uq_elements_pair_pre=np.unique(stable_comp_num)


print('These are the elements that did not produce any stable compound regardless of the element they were paired')
list(set(uq_elements_pair) - set(uq_elements_pair_pre))

These are the elements that did not produce any stable compound regardless of the element they were paired

['He', 'Kr', 'Xe', 'Ne', 'Ar']

In [8]:
Y_test.mean()

0.5246995994659546

This makes sense since Noble Gases tend to not interact with any other elements

### Now lets use the learned models to predict the components of the stability vector of the elements that produce at least one stable compound

In [217]:
df_stable_test=df_test.loc[Y_test==1] 
df_stable_test_names=df_test_names.loc[Y_test==1] 

print(df_stable_test.shape)

X_test_Z_score_stable=X_test_Z_score.loc[Y_test==1] 

print(X_test_Z_score_stable.shape)

(393, 98)
(393, 98)

In [95]:
stability_vec=np.zeros([df_stable_test.shape[0],9])
print(stability_vec.shape)

(393, 9)

In [105]:
cnt=0
for ndx in range(1,10):
    print(cnt)
    print(models[ndx], features_f[ndx])
    loaded_model = joblib.load(models[ndx])
    
    with open(features_f[ndx], 'rb') as f:
        corr_variables = pickle.load(f)
        
    stability_vec[:,cnt]=loaded_model.predict(X_test_Z_score_stable[corr_variables])
    cnt=cnt+1

0
Best_model_component_1.sav var_list_stable_comp_1.var
1
Best_model_component_2.sav var_list_stable_comp_2.var
2
Best_model_component_3.sav var_list_stable_comp_3.var
3
Best_model_component_4.sav var_list_stable_comp_4.var
4
Best_model_component_5.sav var_list_stable_comp_5.var
5
Best_model_component_6.sav var_list_stable_comp_6.var
6
Best_model_component_7.sav var_list_stable_comp_7.var
7
Best_model_component_8.sav var_list_stable_comp_8.var
8
Best_model_component_9.sav var_list_stable_comp_9.var

In [114]:
stability_vec[:5,:]

array([[0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 1., 1.]])

These elements yielded no stable elements despite the first model predict they will. This means that they are false pastive errors associated with our first model.

In [118]:
df_stable_test.loc[stability_vec.sum(axis=1)==0]

,formulaA,formulaB,formulaA_elements_AtomicVolume,formulaB_elements_AtomicVolume,formulaA_elements_AtomicWeight,formulaB_elements_AtomicWeight,formulaA_elements_BoilingT,formulaB_elements_BoilingT,formulaA_elements_BulkModulus,formulaB_elements_BulkModulus,...,formulaA_elements_Row,formulaB_elements_Row,formulaA_elements_ShearModulus,formulaB_elements_ShearModulus,formulaA_elements_SpaceGroupNumber,formulaB_elements_SpaceGroupNumber,avg_coordination_A,avg_coordination_B,avg_nearest_neighbor_distance_A,avg_nearest_neighbor_distance_B
97,6,70,8.825090,43.739672,12.0107,173.0540,4300.0,1469.0,33.0,31.0,...,2,6,0.0,9.9,194,225,3.0,12.0,1.42409,3.85320
526,44,14,13.567874,20.016378,101.0700,28.0855,4423.0,3173.0,220.0,100.0,...,5,3,173.0,0.0,194,227,12.0,4.0,2.66567,2.36803
640,52,82,33.956689,30.341423,127.6000,207.2000,1261.0,2022.0,65.0,46.0,...,5,6,16.0,5.6,152,225,2.0,12.0,2.89227,3.57454

In [119]:
stability_vec[stability_vec.sum(axis=1)==0,:]

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [125]:
stability_vec.shape

(393, 9)

## Combining the results and writing the New Columns in the Test set

In [213]:
y_pure_element_all=np.ones([df_test.shape[0],1])
print(y_pure_element_all.shape)

stability_vec_all=np.zeros([df_test.shape[0],9])
y_stab_vec_all=np.concatenate((y_pure_element_all,stability_vec_all,y_pure_element_all), axis=1)

print(y_stab_vec_all.shape)

(749, 1)
(749, 11)

In [214]:
df_tmp = pd.DataFrame(y_stab_vec_all, columns = ['A', 'A91B', 'A82B','A73B','A64B','A55B','A46B','A37B','A28B','A19B','B'])
stab_vec_list=['A', 'A91B', 'A82B','A73B','A64B','A55B','A46B','A37B','A28B','A19B','B']

print(df_tmp.shape)

df_test_all_results=pd.concat([df_test_names, df_tmp],axis=1)
print(df_test_all_results.shape)
df_test_all_results.head()

(749, 11)
(749, 109)

,formulaA,formulaB,formulaA_elements_AtomicVolume,formulaB_elements_AtomicVolume,formulaA_elements_AtomicWeight,formulaB_elements_AtomicWeight,formulaA_elements_BoilingT,formulaB_elements_BoilingT,formulaA_elements_BulkModulus,formulaB_elements_BulkModulus,...,A91B,A82B,A73B,A64B,A55B,A46B,A37B,A28B,A19B,B
0,Ac,Be,37.433086,8.098176,227.0,9.012182,3473.0,2743.0,0.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Ac,Cd,37.433086,21.580025,227.0,112.411000,3473.0,1040.0,0.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,Ac,Cs,37.433086,117.456016,227.0,132.905452,3473.0,944.0,0.0,1.6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Ac,Ho,37.433086,31.140380,227.0,164.930320,3473.0,2973.0,0.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Ac,K,37.433086,75.847865,227.0,39.098300,3473.0,1032.0,0.0,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [215]:
y_pure_element=np.ones([df_stable_test.shape[0],1])
print(y_pure_element.shape)

y_stab_vec=np.concatenate((y_pure_element,stability_vec,y_pure_element), axis=1)

print(y_stab_vec.shape)

(393, 1)
(393, 11)

In [216]:
df_tmp = pd.DataFrame(y_stab_vec, columns = ['A', 'A91B', 'A82B','A73B','A64B','A55B','A46B','A37B','A28B','A19B','B'],index=df_stable_test.index)
#stab_vec_list=[ 'A91B', 'A82B','A73B','A64B','A55B','A46B','A37B','A28B','A19B']
print(df_tmp.shape)
print(df_tmp.sum())
df_tmp.head()

(393, 11)
A       393.0
A91B     86.0
A82B     80.0
A73B    223.0
A64B     85.0
A55B    229.0
A46B     63.0
A37B    181.0
A28B    136.0
A19B     49.0
B       393.0
dtype: float64

      A  A91B  A82B  A73B  A64B  A55B  A46B  A37B  A28B  A19B    B
1   1.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0  1.0
7   1.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0  1.0
8   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0  1.0
9   1.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0  1.0
10  1.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0  1.0

In [218]:
df_test_stable_results=pd.concat([df_stable_test_names, df_tmp],axis=1)
print(df_test_stable_results.shape)
print(df_test_stable_results[stab_vec_list].sum())
df_test_stable_results.head()

(393, 109)
A       393.0
A91B     86.0
A82B     80.0
A73B    223.0
A64B     85.0
A55B    229.0
A46B     63.0
A37B    181.0
A28B    136.0
A19B     49.0
B       393.0
dtype: float64

,formulaA,formulaB,formulaA_elements_AtomicVolume,formulaB_elements_AtomicVolume,formulaA_elements_AtomicWeight,formulaB_elements_AtomicWeight,formulaA_elements_BoilingT,formulaB_elements_BoilingT,formulaA_elements_BulkModulus,formulaB_elements_BulkModulus,...,A91B,A82B,A73B,A64B,A55B,A46B,A37B,A28B,A19B,B
1,Ac,Cd,37.433086,21.580025,227.0000,112.411000,3473.0,1040.0,0.0,42.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,Ac,Se,37.433086,27.208805,227.0000,78.960000,3473.0,958.0,0.0,8.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,Ac,Sn,37.433086,26.966785,227.0000,118.710000,3473.0,2875.0,0.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
9,Ag,Au,17.075648,16.947064,107.8682,196.966569,2435.0,3129.0,100.0,220.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
10,Ag,Cs,17.075648,117.456016,107.8682,132.905452,2435.0,944.0,100.0,1.6,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [219]:
stable_ndx=df_test_stable_results.index

In [220]:
df_test_all_results[stab_vec_list].iloc[stable_ndx].sum()

A       393.0
A91B      0.0
A82B      0.0
A73B      0.0
A64B      0.0
A55B      0.0
A46B      0.0
A37B      0.0
A28B      0.0
A19B      0.0
B       393.0
dtype: float64

In [221]:
df_test_all_results.iloc[stable_ndx]=df_test_stable_results

In [222]:
df_test_all_results[stab_vec_list].iloc[stable_ndx].sum()

A       393.0
A91B     86.0
A82B     80.0
A73B    223.0
A64B     85.0
A55B    229.0
A46B     63.0
A37B    181.0
A28B    136.0
A19B     49.0
B       393.0
dtype: float64

In [223]:
df_test_all_results[stab_vec_list].sum()

A       749.0
A91B     86.0
A82B     80.0
A73B    223.0
A64B     85.0
A55B    229.0
A46B     63.0
A37B    181.0
A28B    136.0
A19B     49.0
B       749.0
dtype: float64

In [224]:
path_write=os.path.join(path_f_1, 'test_data_predictions.csv')
df_test_all_results.to_csv(path_write)